# In .gitignore
*.aux
*.glo
*.idx
*.log
*.toc
*.tdo
*.ist
*.acn
*.acr
*.alg
*.bbl
*.tdo
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex(busy)
*.bak
*.pdf
*.swp
*.fdb_latexmk
*.fls
*.nav
*.pdfpc
*.nlo
*.nls 
*.dep
*.snp
*.bcf
*.run.xml
*.dvv


